<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @user.full_name%>!
    </p>
    <p>
      your account is logged in at <%= DateTime.now.in_time_zone("Asia/Kolkata").strftime('%m/%d/%Y %I:%M %p') %>. Let us know if its not you.
    </p>
  </body>
</html>