<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @user.full_name%>!
    </p>
    <p>
      A healthy food basket is added to your account.
    </p>
  </body>
</html>
