<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy</title>
  <style type="text/css">
    .custom-container {
        max-width: 1400px;
        margin: 0px auto;
        font-size: 20px;
    }
    .highlight-list {
      color: red;
      margin: 0px;
    }
    ul.privacy-list li {
      padding-bottom: 10px;
    }
    a {
      font-weight: bold;
      color: red;
    }
  </style>
</head>
<body>
  <section class="privacy-section">
    <div class="custom-container">
      <div class="privacy-outer">
        <h2>Privacy Policy</h2>
        <div class="privacy-box">
          <p>These terms govern</p>
          <ul class="privacy-list">
            <li>The use of What’syourNIQ / NIQ score, and,</li>
            <li>Any other related Agreement or legal relationship with the Owner
            In a legally binding way. Capitalized words are defined in the relevant dedicated section of this document.</li>
          </ul>
          <p>The User must read this document carefully.</p>
          <p>Although the entire contractual relationship relating to these Products is entered into solely by the Owner and Users, Users acknowledge and agree that, where What’syourNIQ/NIQ score has been provided to them via the Apple App Store, Apple may enforce these Terms as a third-party beneficiary.</p>
          <p>Nothing in these Terms creates any relationship of employment, agency, or partnership between the involved parties.</p>
          <p>What’syourNIQ is provided by: Superfood Valley Pvt. Ltd</p>
          <p><b>Owner contact email:</b> Support@ What’syourNIQ.com</p>
          <p>“What’syourNIQ” refers to</p>
          <ul class="privacy-list">
            <li>The website, including its subdomains and any other website through which the Owner makes its Service available;</li>
            <li>Applications for mobile, tablet and other smart device systems;</li>
            <li>The Service;</li>
            <li>The following documents are incorporated by reference into these Terms:</li>
            <li><a href="https://yuka-app.helpdocs.io/l/en/article/2a12869y56" target=" ">End-user license agreement</a></li>
          </ul>
          <div class="privacy-inner-box">
            <h4>What the User should know at a glance</h4>
            <ul class="privacy-list">
              <li>What’syourNIQ uses automatic renewal for Product subscriptions. Information about the a) renewal period, b) termination details and c) termination notice can be found in the relevant section of these Terms.</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>TERMS OF USE</h4>
            <p>Unless otherwise specified, the terms of use detailed in this section apply generally when using What’syourNIQ.</p>
            <p>Single or additional conditions of use or access may apply in specific scenarios and in such cases are additionally indicated within this document.</p>
            <p>By using What’syourNIQ, Users confirm to meet the following requirements:</p>
            <ul class="privacy-list">
              <li>Users must qualify as Consumers;</li>
              <li><p class="highlight-list">Users aren’t located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist-supporting” country;</p></li>
              <li><p class="highlight-list">Users aren’t listed on any U.S. Government list of prohibited or restricted parties;</p></li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Account registration</h4>
            <p>To use the Service Users must register or create a User account, providing all required data or information in a complete and truthful manner.</p>
            <p>Failure to do so will cause unavailability of the Service.
            Users are responsible for keeping their login credentials confidential and safe. For this reason, Users are also required to choose passwords that meet the highest standards of strength permitted by What’syourNIQ.
            By registering, Users agree to be fully responsible for all activities that occur under their username and password.
            Users are required to immediately and unambiguously inform the Owner via the contact details indicated in this document, if they think their personal information, including but not limited to User accounts, access credentials or personal data, have been violated, unduly disclosed or stolen.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Conditions for account registration</h4>
            <p>Registration of User accounts on What’syourNIQ is subject to the conditions outlined below. By registering, Users agree to meet such conditions.</p>
            <ul class="privacy-list">
              <li>Accounts registered by bots or any other automated methods are not permitted</li>
              <li>Unless otherwise specified, each User must register only one account</li>
              <li>Unless explicitly permitted, a User account may not be shared with other persons</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Account termination</h4>
            <p>Users can terminate their account and stop using the Service at any time by doing the following:</p>
            <ul class="privacy-list">
              <li>By using the tools provided for account termination on What’syourNIQ </li>
              <li>By directly contacting the Owner at the contact details provided in this document</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Account suspension and deletion</h4>
            <p>The Owner reserves the right, at its sole discretion, to suspend or delete at any time and without notice, User accounts which it deems inappropriate, offensive or in violation of these Terms.</p>
            <p>The suspension or deletion of User accounts shall not entitle Users to any claims for compensation, damages or reimbursement.</p>
            <p>The suspension or deletion of accounts due to causes attributable to the User does not exempt the User from paying any applicable fees or prices.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Content on What’syourNIQ</h4>
            <p>Unless where otherwise specified or clearly recognizable, all content available on What’syourNIQ is owned or provided by the Owner or its licensors.</p>
            <p>The Owner undertakes its utmost effort to ensure that the content provided on What’syourNIQ infringes no applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a result.</p>
            <p>In such cases, without prejudice to any legal prerogatives of Users to enforce their rights, Users are kindly asked to preferably report related complaints using the contact details provided in this document.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Rights regarding content on What’syourNIQ - All rights reserved</h4>
            <p>The Owner holds and reserves all intellectual property rights for any such content.</p>
            <p>Users may not therefore use such content in any way that is not necessary or implicit in the proper use of the Service.</p>
            <p>In particular, but without limitation, Users may not copy, download, share (beyond the limits set forth below), modify, translate, transform, publish, transmit, sell, sublicense, edit, transfer/assign to third parties or create derivative works from the content available on What’syourNIQ, nor allow any third party to do so through the User or their device, even without the User's knowledge.</p>
            <p>Where explicitly stated on What’syourNIQ, the User may download, copy and/or share some content available through What’syourNIQ for its sole personal and non-commercial use and provided that the copyright attributions and all the other attributions requested by the Owner are correctly implemented.</p>
            <p>Any applicable statutory limitation or exception to copyright shall stay unaffected.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Content provided by Users</h4>
            <p>The Owner allows Users to upload, share or provide their own content to What’syourNIQ By providing content to What’syourNIQ, Users confirm that they are legally allowed to do so and that they are not infringing any statutory provisions and/or third-party rights.</p>
            <p>Further insights regarding acceptable content can be found inside the section of these Terms which detail the acceptable uses.</p>
            <p>Users acknowledge and accept that by providing their own content to What’syourNIQ they grant the Owner a non-exclusive, worldwide, fully paid-up and royalty-free, irrevocable, perpetual (or for the entire protection term), sub-licensable and transferable license to use, access, store, reproduce, modify, distribute, publish, process into derivative works, broadcast, stream, transmit or otherwise exploit such content to provide and promote its Service in any media or manner.</p>
            <p>To the extent permitted by applicable law, Users waive any moral rights in connection with content they provide to What’syourNIQ</p>
            <p>Users acknowledge, accept and confirm that all content they provide through What’syourNIQ is provided subject to the same general conditions set forth for content on What’syourNIQ </p>
          </div>
          <div class="privacy-inner-box">
            <h4>Liability for provided content</h4>
            <p>Users are solely liable for any content they upload, post, share, or provide through What’syourNIQ.</p>
            <p>Users acknowledge and accept that <b> the Owner does not filter or moderate such content.</b> However, the Owner reserves the right to remove, delete, block or rectify such content at its own discretion and to, without prior notice, deny the uploading User access to What’syourNIQ:</p>
            <ul class="privacy-list">
              <li>If any complaint based on such content is received;</li>
              <li>If a notice of infringement of intellectual property rights is received;</li>
              <li>Upon order of a public authority; or</li>
              <li>Where the Owner is made aware that the content, while being accessible via What’syourNIQ, may represent a risk for Users, third parties and/or the availability of the Service.</li>
            </ul>
            <p>The removal, deletion, blocking or rectification of content shall not entitle Users that have provided such content or that are liable for it, to any claims for compensation, damages or reimbursement.Users agree to hold the Owner harmless from and against any claim asserted and/or damage suffered due to content they provided to or provided through What’syourNIQ</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Removal of content from parts of What’syourNIQ available through the Play Store/ App Store</h4>
            <p>If the reported content is deemed objectionable, it will be removed within 24 hours and the User who provided the content will be barred from using the Service.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Access to external resources</h4>
            <p>Through What’syourNIQ Users may have access to external resources provided by third parties. Users acknowledge and accept that the Owner has no control over such resources and is therefore not responsible for their content and availability.</p>
            <p>Conditions applicable to any resources provided by third parties, including those applicable to any possible grant of rights in content, result from each such third parties’ terms and conditions or, in the absence of those, applicable statutory law.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>How to file a takedown notice (called a “DMCA notice”)</h4>
            <p>If copyright holders or their agents believe that any content on NIQ infringes upon their copyrights, they may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing the Owner’s Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):</p>
            <ul class="privacy-list">
              <li>A physical or electronic signature of a person authorized to act on behalf of the holder of an exclusive right that is allegedly infringed;</li>
              <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
              <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the Owner to locate the material;</li>
              <li>Information reasonably sufficient to permit the Owner to contact the notifying party, such as an address, telephone number, and, if available, an electronic mail;</li>
              <li>A statement that the notifying party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
              <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the notifying party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
            </ul>
            <p>Failure to comply with all of the requirements outlined above may result in invalidity of the DMCA notice.</p>
            <p>Copyright infringement notifications may be addressed to the Owner’s Copyright Agent at the contact details specified in this document.</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Acceptable use</h4>
            <p>What’syourNIQ and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.</p>
            <p>Users are solely responsible for making sure that their use of What’syourNIQ and/or the Service violates no applicable law, regulations or third-party rights.</p>
            <p>Therefore, the Owner reserves the right to take any appropriate measure to protect its legitimate interests including denying Users access to What’syourNIQ or the Service, terminating contracts, reporting any misconduct performed through What’syourNIQ or the Service to the competent authorities – such as judicial or administrative authorities - whenever Users are suspected to be in violation of any laws, regulations, third-party rights and/or these Terms, including, but not limited to, by engaging in any of the following activities:</p>
          </div>
          <div class="privacy-inner-box">
            <h4>Conduct restrictions</h4>
            <ul class="privacy-list">
              <li>Pretending to fulfil any possible condition or requirements for accessing What’syourNIQ and/or using the Services, such as for instance being adult according to law or qualifying as a Consumer;</li>
              <li>Concealing their identity or stealing someone else's identity or pretend to be or represent a third-party, if not allowed to do so by such third-party;</li>
              <li>Manipulating identifiers to disguise or otherwise conceal the origin of their messages or of the content posted;</li>
              <li>Defaming, abusing, harassing, using threatening practices, threatening or violating the legal rights of others in any other way;</li>
              <li>Promoting activity that may endanger the User’s life or the life of any other User or lead to physical harm. This includes but is not limited to suicide threats or instigations, intentional physical trauma, the use of illegal drugs, or excessive drinking. Under no circumstance is any User allowed to post any content promoting and/or encouraging and/or showing any self-destructive or violent behaviour on What’syourNIQ;</li>
              <li>Probing, scanning or testing the vulnerability of What’syourNIQ, including the services or any network connected to the website, nor breaching the security or authentication measures on What’syourNIQ, including the services or any network connected to What’syourNIQ;</li>
              <li>Installing, embedding, uploading or otherwise incorporating any malware into or via What’syourNIQ;</li>
              <li>Using What’syourNIQ or the technical infrastructure in an abusive, excessive or otherwise inappropriate way (for example: for spamming purposes);</li>
              <li>Attempting to disrupt or tamper with the technical infrastructure in a manner that harms or places an undue burden on What’syourNIQ or the Service;</li>
              <li>Pretending to purchase any Products offered via What’syourNIQ without any real intent to do so;</li>
              <li>Failing to pay for Products purchased;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Excessive use of the Service</h4>
            <ul class="privacy-list">
              <li>Using a resource of What’syourNIQ excessively in relation to other Users of What’syourNIQ – in such cases, the Owner, at its sole discretion, additionally reserves the right to suspend the User’s account or limit the related activity until the User reduces the excessive consumption;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Scraping</h4>
            <ul class="privacy-list">
              <li>Adopting any automated process to extract, harvest or scrape information, data and/or content from What’syourNIQ and all the digital properties thereto related unless where explicitly allowed to do so by the Owner;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Content restrictions</h4>
            <ul class="privacy-list">
              <li>Disseminating or publishing content that is unlawful, obscene, illegitimate, libellous or inappropriate;</li>
              <li>Publishing any content that promotes, either directly or indirectly, hate, racism, discrimination, pornography, violence;</li>
              <li>Disseminating or publishing any content that is false or may create unjustified alarm;</li>
              <li>Using What’syourNIQ to publish, disseminate or otherwise provide content protected by intellectual property laws, including but not limited to patent, trademark or copyright law, unlawfully and without the legitimate right-holder’s consent;</li>
              <li>Using What’syourNIQ to publish, disseminate or otherwise make available any other content which infringes on any third-party rights, including but not limited to state, military, trade or professional secrets and personal data;</li>
              <li>Publishing any content or carrying out any activity that disrupts, interrupts, harms, or otherwise violates the integrity of What’syourNIQ or another User's experience or devices. Such activities include: spamming, distributing unauthorized advertisements, phishing, defrauding others, spreading malware or viruses etc.;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>User protection</h4>
            <ul class="privacy-list">
              <li>Misappropriating any account in use by another User;</li>
              <li>Harvesting or collecting any personally identifying information of other Users including but not limited to their email addresses or contact information, by circumventing the privacy setting of other Users’ accounts on What’syourNIQ or by any other means;</li>
              <li>Using any information relating to other Users, including personal or contact data, for purposes other than those What’syourNIQ is intended for;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Commercial use restrictions</h4>
            <ul class="privacy-list">
              <li>Registering or using What’syourNIQ in order to promote, sell or advertise products or services of any kind in any way;</li>
              <li>Indicating or trying to imply in any manner, that a User stands in a qualified relationship with What’syourNIQ or that What’syourNIQ has endorsed the User, the User’s products or services or any third party's products and services for any purpose;</li>
            </ul>
          </div>
          <div class="privacy-inner-box">
            <h4>Software license</h4>
            <p>Any intellectual or industrial property rights, and any other exclusive rights on software or technical applications embedded in or related to What’syourNIQ are held by the Owner and/or its licensors.Subject to Users’ compliance with and notwithstanding any divergent provision of these Terms, the Owner merely grants Users a revocable, non-exclusive, non-sublicensable and non-transferable license to use the software and/or any other technical means embedded in the Service within the scope and for the purposes of What’syourNIQ and the Service offered.This license does not grant Users any rights to access, usage or disclosure of the original source code. All techniques, algorithms, and procedures contained in the software and any documentation thereto related is the Owner’s or its licensors’ sole property.All rights and license grants to Users shall immediately terminate upon any termination or expiration of the Agreement.</p>
            <p>Without prejudice to the above, under this license Users may download, install, use and run the software on the permitted number of devices, provided that such devices are common and up-to-date in terms of technology and market standards.The Owner reserves the right to release updates, fixes and further developments of What’syourNIQ and/or its related software and to provide them to Users for free. Users may need to download and install such updates to continue using What’syourNIQ and/or its related software.New releases may only be available against payment of a fee.The User may download, install, use and run the software on 2 devices.However, it may not be permitted to run the software on more than one device at a time.</p>
          </div>
          <div class="privacy-inner-box">
            <h4><b>TERMS AND CONDITIONS OF SALE</b></h4>
            <h4>Paid Products</h4>
            <p>Some of the Products provided on What’syourNIQ, as part of the Service, are provided on the basis of payment.The fees, duration and conditions applicable to the purchase of such Products are described below and in the dedicated sections of NIQ.</p>
          </div>
           <div class="privacy-inner-box highlight-list">
            <h4>Product description</h4>
            <p>Prices, descriptions or availability of Products are outlined in the respective sections of NIQ and are subject to change without notice.</p>
            <p>While Products on NIQ are presented with the greatest accuracy technically possible, representation on NIQ through any means (including, as the case may be, graphic material, images, colors, sounds) is for reference only and implies no warranty as to the characteristics of the purchased Product.The characteristics of the chosen Product will be outlined during the purchasing process.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Purchasing process</h4>
            <p>Any steps taken from choosing a Product to order submission form part of the purchasing process.</p>
            <p>The purchasing process includes these steps:</p>
            <ul>
              <li><p class="highlight-list">Users must choose the desired Product and verify their purchase selection.</p></li>
              <li><p class="highlight-list">After having reviewed the information displayed in the purchase selection, Users may place the order by submitting it.</p></li>
            </ul>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Order submission</h4>
            <p>When the User submits an order, the following applies:</p>
            <ul>
              <li><p class="highlight-list">The submission of an order determines contract conclusion and therefore creates for the User the obligation to pay the price, taxes and possible further fees and expenses, as specified on the order page.</p></li>
              <li><p class="highlight-list">In case the purchased Product requires active input from the User, such as the provision of personal information or data, specifications or special wishes, the order submission creates an obligation for the User to cooperate accordingly.</p></li>
              <li><p class="highlight-list">Upon submission of the order, Users will receive a receipt confirming that the order has been received.</p></li>
            </ul>
            <p>All notifications related to the described purchasing process shall be sent to the email address provided by the User for such purposes.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Prices</h4>
            <p>Users are informed during the purchasing process and before order submission, about any fees, taxes and costs (including, if any, delivery costs) that they will be charged.</p>
            <p>Prices on NIQ are displayed:</p>
            <ul>
              <li><p class="highlight-list">either exclusive or inclusive of any applicable fees, taxes and costs, depending on the section the User is browsing.</p></li>
            </ul>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Methods of payment</h4>
            <p>Information related to accepted payment methods are made available during the purchasing process.Some payment methods may only be available subject to additional conditions or fees. In such cases related information can be found in the dedicated section of NIQ.</p>
            <p>All payments are independently processed through third-party services. Therefore, NIQ does not collect any payment information – such as credit card details – but only receives a notification once the payment has been successfully completed.</p>
            <p>If a payment through the available methods fails or is refused by the payment service provider, the Owner shall be under no obligation to fulfil the purchase order. Any possible costs or fees resulting from the failed or refused payment shall be borne by the User.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Purchase via app store</h4>
            <p><b>NIQ or specific Products available for sale on NIQ must be purchased via a third-party app store. To access such purchases, Users</b> must follow the instructions provided on the relevant online store (such as "Apple App Store" or "Google Play"), which may vary depending on the particular device in use.Unless otherwise specified, purchases done via third-party online stores are also subject to such third-parties’ terms and conditions, which, in case of any inconsistency or conflict, shall always prevail upon these Terms.Users purchasing through such third-party online stores must therefore read such terms and conditions of sale carefully and accept them.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Retention of Product ownership</h4>
            <p><b>Until payment,</b> of the total purchase price is received by the Owner, any Products ordered shall not become the User’s property.</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Retention of usage rights</h4>
            <p><b>Users do not acquire</b> any rights to use the purchased Product until the total purchase price is received by the Owner.Delivery</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Delivery of digital content</h4>
            <p>Unless otherwise stated, digital content purchased on NIQ is delivered via download on the device(s) chosen by Users.Users acknowledge and accept that in order to download and/or use the Product, the intended device(s) and its respective software (including operating systems) must be legal, commonly used, up-to-date, and consistent with current market-standards.Users acknowledge and accept that the ability to download the purchased Product may be limited in time and space.Contract duration</p>
          </div>
          <div class="privacy-inner-box highlight-list">
            <h4>Subscriptions</h4>
            <p>Subscriptions allow Users to receive a Product continuously or regularly over time. Details regarding the type of subscription and termination are outlined below.</p>
            <h4>Fixed-term subscriptions</h4>
            <p>Paid fixed-term subscriptions start on the day the payment is received by the Owner and last for the subscription period chosen by the User or otherwise specified during the purchasing process.</p>
            <p>Once the subscription period expires, the Product shall no longer be accessible.</p>
          </div>
           <div class="privacy-inner-box highlight-list">
            <h4>Subscriptions handled via Apple ID</h4>
            <p>Users may subscribe to a Product using the Apple ID associated with their Apple App Store account by using the relevant process on NIQ. When doing so, Users acknowledge and accept that</p>
            <ul class="privacy-list">
              <li>any payment due shall be charged to their Apple ID account;</li>
              <li>subscriptions are automatically renewed for the same duration unless the User cancels at least 24 hours before the current period expires;</li>
              <li>any and all fees or payments due for renewal will be charged within 24-hours before the end of the current period;</li>
              <li>subscriptions can be managed or cancelled in the Users’ Apple App Store account settings.</li>
            </ul>
            <p>The above shall prevail upon any conflicting or diverging provision of these Terms.Automatic renewal of fixed-term subscriptionsSubscriptions are automatically renewed through the payment method that the User chose during purchase.The renewed subscription will last for a period equal to the original term.TerminationSubscriptions may be terminated by sending a clear and unambiguous termination notice to the Owner using the contact details provided in this document, or — if applicable — by using the corresponding controls inside NIQ.If the notice of termination is received by the Owner before the subscription renews, the termination shall take effect as soon as the current period is completed.Exception for Consumers based in GermanyHowever, regardless of the above, if the User is based in Germany and qualifies as a Consumer, the following applies:At the end of the initial term, subscriptions are automatically extended for an unlimited period, unless the User terminates before the end of such term.The fee due upon extension will be charged on the payment method that the User chose during purchase.After extension, the subscription will last for an indefinite period and may be terminated monthly.Termination Extended subscriptions may be terminated at any time by sending a clear and unambiguous termination notice to the Owner using the contact details provided in this document, or — if applicable — by using the corresponding controls inside NIQ.If the notice of termination is received by the Owner by the end of the current month, the subscription shall expire at the end of such month.User rights Right of withdrawal</p>
            <p>Unless exceptions apply, the User may be eligible to withdraw from the contract within the period specified below (generally 14 days), for any reason and without justification. Users can learn more about the withdrawal conditions within this section.</p>
            <p>Who the right of withdrawal applies to Unless any applicable exception is mentioned below, Users who are European Consumers are granted a statutory cancellation right under EU rules, to withdraw from contracts entered into online (distance contracts) within the specified period applicable to their case, for any reason and without justification.</p>
            <p>Users that do not fit this qualification, cannot benefit from the rights described in this section.</p>
            <p>Exercising the right of withdrawal</p>
            <p>To exercise their right of withdrawal, Users must send to the Owner an unequivocal statement of their intention to withdraw from the contract.</p>
            <p>To this end, Users may use the model withdrawal form available from within the “definitions” section of this document. Users are, however, free to express their intention to withdraw from the contract by making an unequivocal statement in any other suitable way. In order to meet the deadline within which they can exercise such right, Users must send the withdrawal notice before the withdrawal period expires.</p>
            <p>When does the withdrawal period expire?</p>
            <ul class="privacy-list">
              <li>In case of purchase of a digital content not supplied in a tangible medium, the withdrawal period expires 14 days after the day that the contract is entered into, unless the User has waived the withdrawal right.</li>
            </ul>
            <p>Effects of withdrawal <br> Users who correctly withdraw from a contract will be reimbursed by the Owner for all payments made to the Owner, including, if any, those covering the costs of delivery. <br>However, any additional costs resulting from the choice of a particular delivery method other than the least expensive type of standard delivery offered by the Owner, will not be reimbursed.<br>Such reimbursement shall be made without undue delay and, in any event, no later than 14 days from the day on which the Owner is informed of the User’s decision to withdraw from the contract. Unless otherwise agreed with the User, reimbursements will be made using the same means of payment as used to process the initial transaction. In any event, the User shall not incur any costs or fees as a result of such reimbursement.<br>Liability and indemnification<br>EU Users</p>
            <p>Indemnification <br>The User agrees to indemnify and hold the Owner and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners and employees harmless from and against any claim or demand ⁠— including but not limited to lawyer's fees and costs ⁠— made by any third party due to or in relation with any culpable use of or connection to the Service, violation of these Terms, infringement of any third-party rights or statutory provision by the User or its affiliates, officers, directors, agents, co-branders, partners and employees to the extent allowed by applicable law.Limitation of liability</p>
            <p>Unless otherwise explicitly stated and without prejudice to applicable statutory product liability provisions, Users shall have no right to claim damages against the Owner (or any natural or legal person acting on its behalf).</p>
            <p>This does not apply to damages to life, health or physical integrity, damages resulting from the breach of an essential contractual obligation such as any obligation strictly necessary to achieve the purpose of the contract, and/or damages resulting from intent or gross negligence, as long as NIQ has been appropriately and correctly used by the User.</p>
            <p>Unless damages have been caused by way of intent or gross negligence, or they affect life, health or physical integrity, the Owner shall only be liable to the extent of typical and foreseeable damages at the moment the contract was entered into.</p>
            <p>In particular, within the limits stated above, the Owner shall not be liable for:</p>
            <ul class="privacy-list">
              <li>any loss of business opportunities and any other loss, even indirect, that may be incurred by the User (such as, but not limited to, trading losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, etc.);</li>
              <li>damages or losses resulting from interruptions or malfunctions of NIQ due to acts of force majeure, or unforeseen and unforeseeable events and, in any case, independent of the will and beyond the control of the Owner, such as, but not limited to, failures or disruptions of telephone or electrical lines, the Internet and / or other means of transmission, unavailability of websites, strikes, natural disasters, viruses and cyber attacks, interruptions in the delivery of products, third-party services or applications;</li>
              <li>any losses that are not the direct consequence of a breach of the Terms by the Owner;</li>
              <li>any damage, prejudice or loss occurring due to viruses or other malware contained in or connected to files available for download from the internet or via NIQ. Users are responsible for implementing sufficient security measures – such as anti-viruses and firewalls to prevent any such infection or attack and for securing backup copies of all data or information exchanged via or uploaded to NIQ.</li>
            </ul>
            <p>Notwithstanding the above, the following limitation applies to all Users not qualifying as Consumers: <br>In any event of liability, the compensation may not exceed the total payments that have been, will be or would be received by the Owner from the User based on the contract over a period of 12 months, or the period of the duration of the Agreement, if shorter.</p>
            <p>Australian Users</p>
            <p>Limitation of liability <br>Nothing in these Terms excludes, restricts or modifies any guarantee, condition, warranty, right or remedy which the User may have under the Competition and Consumer Act 2010 (Cth) or any similar State and Territory legislation and which cannot be excluded, restricted or modified (non-excludable right). To the fullest extent permitted by law, our liability to the User, including liability for a breach of a non-excludable right and liability which is not otherwise excluded under these Terms of Use, is limited, at the Owner’s sole discretion, to the re-performance of the services or the payment of the cost of having the services supplied again.<br>US Users</p>
            <p>Disclaimer of Warranties <br>NIQ is provided strictly on an “as is” and “as available” basis. Use of the Service is at Users’ own risk. To the maximum extent permitted by applicable law, the Owner expressly disclaims all conditions, representations, and warranties — whether express, implied, statutory or otherwise, including, but not limited to, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights. No advice or information, whether oral or written, obtained by user from owner or through the Service will create any warranty not expressly stated herein.</p>
            <p>Without limiting the foregoing, the Owner, its subsidiaries, affiliates, licensors, officers, directors, agents, co-branders, partners, suppliers and employees do not warrant that the content is accurate, reliable or correct; that the Service will meet Users’ requirements; that the Service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the Service is free of viruses or other harmful components. Any content downloaded or otherwise obtained through the use of the Service is downloaded at users own risk and users shall be solely responsible for any damage to Users’ computer system or mobile device or loss of data that results from such download or Users’ use of the Service.</p>
            <p>The Owner does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the Service or any hyperlinked website or service, and the Owner shall not be a party to or in any way monitor any transaction between Users and third-party providers of products or services.The Service may become inaccessible or it may not function properly with Users’ web browser, mobile device, and/or operating system. The owner cannot be held liable for any perceived or actual damages arising from Service content, operation, or use of this Service.</p>
            <p>Federal law, some states, and other jurisdictions, do not allow the exclusion and limitations of certain implied warranties. The above exclusions may not apply to Users. This Agreement gives Users specific legal rights, and Users may also have other rights which vary from state to state. The disclaimers and exclusions under this agreement shall not apply to the extent prohibited by applicable law.</p>
            <p>Limitations of liability <br>To the maximum extent permitted by applicable law, in no event shall the Owner, and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees be liable for</p>
            <ul class="privacy-list">
              <li>any indirect, punitive, incidental, special, consequential or exemplary damages, including without limitation damages for loss of profits, goodwill, use, data or other intangible losses, arising out of or relating to the use of, or inability to use, the Service; and</li>
              <li>any damage, loss or injury resulting from hacking, tampering or other unauthorized access or use of the Service or User account or the information contained therein;</li>
              <li>any errors, mistakes, or inaccuracies of content;</li>
              <li>personal injury or property damage, of any nature whatsoever, resulting from User access to or use of the Service;</li>
              <li>any unauthorized access to or use of the Owner’s secure servers and/or any and all personal information stored therein;</li>
              <li>any interruption or cessation of transmission to or from the Service;</li>
              <li>any bugs, viruses, trojan horses, or the like that may be transmitted to or through the Service;</li>
              <li>any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or</li>
              <li>the defamatory, offensive, or illegal conduct of any User or third party. In no event shall the Owner, and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees be liable for any claims, proceedings, liabilities, obligations, damages, losses or costs in an amount exceeding the amount paid by User to the Owner hereunder in the preceding 12 months, or the period of duration of this agreement between the Owner and User, whichever is shorter.</li>
            </ul>
            <p>This limitation of liability section shall apply to the fullest extent permitted by law in the applicable jurisdiction whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if company has been advised of the possibility of such damage.</p>
            <p>Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, therefore the above limitations or exclusions may not apply to User. The terms give User specific legal rights, and User may also have other rights which vary from jurisdiction to jurisdiction. The disclaimers, exclusions, and limitations of liability under the terms shall not apply to the extent prohibited by applicable law.</p>
            <p>Indemnification <br>The User agrees to defend, indemnify and hold the Owner and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees harmless from and against any and all claims or demands, damages, obligations, losses, liabilities, costs or debt, and expenses, including, but not limited to, legal fees and expenses, arising from</p>
            <ul class="privacy-list">
              <li>User’s use of and access to the Service, including any data or content transmitted or received by User;</li>
              <li>User’s violation of these terms, including, but not limited to, User’s breach of any of the representations and warranties set forth in these terms;</li>
              <li>User’s violation of any third-party rights, including, but not limited to, any right of privacy or intellectual property rights;</li>
              <li>User’s violation of any statutory law, rule, or regulation;</li>
              <li>any content that is submitted from User’s account, including third party access with User’s unique username, password or other security measure, if applicable, including, but not limited to, misleading, false, or inaccurate information;</li>
              <li>User’s wilful misconduct; or</li>
              <li>statutory provision by User or its affiliates, officers, directors, agents, co-branders, partners, suppliers and employees to the extent allowed by applicable law.</li>
            </ul>
            <p>Common provisions<br>No Waiver</p>
            <p>The Owner’s failure to assert any right or provision under these Terms shall not constitute a waiver of any such right or provision. No waiver shall be considered a further or continuing waiver of such term or any other term.Service interruption</p>
            <p>To ensure the best possible service level, the Owner reserves the right to interrupt the Service for maintenance, system updates or any other changes, informing the Users appropriately.<br>Within the limits of law, the Owner may also decide to suspend or terminate the Service altogether. If the Service is terminated, the Owner will cooperate with Users to enable them to withdraw Personal Data or information in accordance with applicable law. <br>Additionally, the Service might not be available due to reasons outside the Owner’s reasonable control, such as “force majeure” (eg. labor actions, infrastructural breakdowns or blackouts etc).<br>Service reselling</p>
            <p>Users may not reproduce, duplicate, copy, sell, resell or exploit any portion of NIQ and of its Service without the Owner’s express prior written permission, granted either directly or through a legitimate reselling programme.Privacy policy</p>
            <p>To learn more about the use of their Personal Data, Users may refer to the privacy policy of NIQ.Intellectual property rights</p>
            <p>Without prejudice to any more specific provision of these Terms, any intellectual property rights, such as copyrights, trademark rights, patent rights and design rights related to NIQ are the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties relating to intellectual property.</p>
            <p>All trademarks — nominal or figurative — and all other marks, trade names, service marks, word marks, illustrations, images, or logos appearing in connection with NIQ are, and remain, the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties related to intellectual property. Changes to these Terms</p>
            <p>The Owner reserves the right to amend or otherwise modify these Terms at any time. In such cases, the Owner will appropriately inform the User of these changes. <br>Such changes will only affect the relationship with the User for the future.<br>The continued use of the Service will signify the User’s acceptance of the revised Terms. If Users do not wish to be bound by the changes, they must stop using the Service. Failure to accept the revised Terms, may entitle either party to terminate the Agreement.<br>The applicable previous version will govern the relationship prior to the User's acceptance. The User can obtain any previous version from the Owner.<br>Assignment of contract</p>
            <p>The Owner reserves the right to transfer, assign, dispose of by novation, or subcontract any or all rights or obligations under these Terms, taking the User’s legitimate interests into account. Provisions regarding changes of these Terms will apply accordingly.Users may not assign or transfer their rights or obligations under these Terms in any way, without the written permission of the Owner.<br>
            <b>Contacts</b></p>
            <p>All communications relating to the use of NIQ must be sent using the contact information stated in this document.<br>
            <b>Severability</b></p>
            <p>Should any provision of these Terms be deemed or become invalid or unenforceable under applicable law, the invalidity or unenforceability of such provision shall not affect the validity of the remaining provisions, which shall remain in full force and effect.<br>
            <b>US Users</b></p>
            <p>Any such invalid or unenforceable provision will be interpreted, construed and reformed to the extent reasonably required to render it valid, enforceable and consistent with its original intent. These Terms constitute the entire Agreement between Users and the Owner with respect to the subject matter hereof, and supersede all other communications, including but not limited to all prior agreements, between the parties with respect to such subject matter. These Terms will be enforced to the fullest extent permitted by law.<br>
            <b>EU Users</b></p>
            <p>Should any provision of these Terms be or be deemed void, invalid or unenforceable, the parties shall do their best to find, in an amicable way, an agreement on valid and enforceable provisions thereby substituting the void, invalid or unenforceable parts. In case of failure to do so, the void, invalid or unenforceable provisions shall be replaced by the applicable statutory provisions, if so permitted or stated under the applicable law.Without prejudice to the above, the nullity, invalidity or the impossibility to enforce a particular provision of these Terms shall not nullify the entire Agreement, unless the severed provisions are essential to the Agreement, or of such importance that the parties would not have entered into the contract if they had known that the provision would not be valid, or in cases where the remaining provisions would translate into an unacceptable hardship on any of the parties.
            <br>
            <b>Governing law</b></p>
            <p>These Terms are governed by the law of the place where the Owner is based, as disclosed in the relevant section of this document, without regard to conflict of laws principles.</p>
            <p><b>Exception for European Consumers</b><br>However, regardless of the above, if the User qualifies as a European Consumer and has their habitual residence in a country where the law provides for a higher consumer protection standard, such higher standards shall prevail.<br><b>US Users</b></p>
            <p>Surviving provisions</p>
            <p>This Agreement shall continue in effect until it is terminated by either NIQ or the User. Upon termination, the provisions contained in these Terms that by their context are intended to survive termination or expiration will survive, including but not limited to the following:</p>
            <ul class="privacy-list">
              <li>the User’s grant of licenses under these Terms shall survive indefinitely;</li>
              <li>the User’s indemnification obligations shall survive for a period of five years from the date of termination;</li>
              <li>the disclaimer of warranties and representations, and the stipulations under the section containing indemnity and limitation of liability provisions, shall survive indefinitely.</li>
            </ul>
            <p><b>Dispute resolution <br>Amicable dispute resolution</b></p>
            <p>Users may bring any disputes to the Owner who will try to resolve them amicably.While Users' right to take legal action shall always remain unaffected, in the event of any controversy regarding the use of NIQ or the Service, Users are kindly asked to contact the Owner at the contact details provided in this document.The User may submit the complaint including a brief description and if applicable, the details of the related order, purchase, or account, to the Owner’s email address specified in this document.The Owner will process the complaint without undue delay and within 5 days of receiving it.<br><b>Online dispute resolution for Consumers</b></p>
            <p>The European Commission has established an online platform for alternative dispute resolutions that facilitates an out-of-court method for solving any dispute related to and stemming from online sale and service contracts.As a result, any European Consumer can use such platform for resolving any dispute stemming from contracts which have been entered into online. The platform <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage" target=" " >is available at the following link.</a><br><b>France: Mediation</b></p>
            <p>Within one year of submitting a written complaint to the Owner regarding any dispute stemming from these Terms, Consumers have the right to initiate a mediation procedure before</p>
            <ul class="privacy-list">
              <li>the following mediation body (or bodies): FEVAD, mediateurduecommerce@fevad.com, <a href ="http://www.mediateurfevad.fr." target=" ">http://www.mediateurfevad.fr.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>